body{
    background-color: #444;
    color: #FFF;
    text-align: center;

    font-family: 'Oswald', 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 1rem;

    background: #ff9966;  
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  
    background: linear-gradient(to right, #ff5e62, #ff9966);


}

h1, h2{
    font-weight: 300;
}